{%extends "main.html"%}

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
        {% block head %}
        <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
        <title>Home</title>
        {% endblock %}
    </head>
    <body>

        {% block main %}
        <main>
            <img class="background" src="{% static 'bg2.jpg' %}" alt="" />
            <div class="posts">
                {% for post in posts %}
                <article class="post-wrapper">
                    <a href="/article?id={{post.id}}">
                        <h2 class="title">{{post.title}}</h2>
                    </a>
                    <p class="post-body">{{post.body}}</p>
                    <div class="post-footer">
                        <div class="post-author-row">by <span class="post-author">{{post.author}}</span></div>
                </article>
                {% endfor %}
            </div>
        </main>
        {% endblock %}

    </body>
</html>
