{%extends "main.html"%}

{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
        {% block head %}
        <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
        <title>Home</title>
        {% endblock %}
    </head>
    <body>

        {% block search %}
        <div class="search-wrapper">
            <form action="/search/" method="POST">
                {% csrf_token %} {{ search_form }}
                <button class="search-icon" type="submit">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M10 5C7.23858 5 5 7.23858 5 10C5 12.7614 7.23858 15 10 15C11.381 15 12.6296 14.4415 13.5355 13.5355C14.4415 12.6296 15 11.381 15 10C15 7.23858 12.7614 5 10 5ZM3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 11.5719 16.481 13.0239 15.6063 14.1921L20.7071 19.2929C21.0976 19.6834 21.0976 20.3166 20.7071 20.7071C20.3166 21.0976 19.6834 21.0976 19.2929 20.7071L14.1921 15.6063C13.0239 16.481 11.5719 17 10 17C6.13401 17 3 13.866 3 10Z" fill="#ffffff"></path> </g></svg>
                </button>
            </form>
        </div>
        {% endblock %}

        {% block main %}
        <main>
            <img class="background" src="{% static 'bg2.jpg' %}" alt="" />
            <div class="posts">
                {% for post in posts %}
                <article class="post-wrapper">
                    {% if post.image %}
                        <div class="background-gradient"></div>
                        <img class="post-image" src="{{post.image.url}}" alt="">
                    {% endif %}
                    <a href="/article?id={{post.id}}">
                        <h2 class="title">{{post.title}}</h2>
                    </a>
                    <p class="post-body">{{post.body}}</p>
                    <div class="post-footer">
                        <div class="post-author-row">Escrito por <span class="post-author">{{post.author}}</span></div>
                </article>
                {% endfor %}
                {% if not posts %}
                <div class="empty-wrapper">
                    <h2 class="empty-message">No se encontraron resultados</h2>
                </div>
                {% endif %}
            </div>
        </main>
        {% endblock %}

    </body>
</html>
