{% extends "main.html" %}

{%load static%}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
        {% block head %}
        <link rel="stylesheet" href="{% static 'styles/article.css' %}" />
        <title>{{post.title}}</title>
        {% endblock %}
    </head>
    <body>
        {% block main%}
        <main>
            <img class="background" src="{% static 'bg2.jpg' %}" alt="" />
            <div class="posts">

                <article class="post-wrapper">
                    {% if post.author.id == user_id %}
                    <div class="buttons-row">
                        <button class="edit-button"><a href="/editPost?id={{post.id}}">Editar</a></button>
                        <button class="delete-button"><a href="/api/deletePost?id={{post.id}}">Eliminar</a></button>
                    </div>
                    {% endif %}

                    <h2 class="title">{{post.title}}</h2>
                    <p class="post-body">{{post.body}}</p>
                    <div class="post-footer">
                        <div class="post-author-row">Escrito por <span class="post-author">{{post.author}}</span></div>
                    </article>
                </div>
            </main>
            {% endblock %}
    </body>
    </html>
