{% extends "main.html" %}

{%load static%}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        {% block head %}
        <link rel="stylesheet" href="{% static 'styles/article.css' %}" />
        <title>{{post.title}}</title>
        {% endblock %}
    </head>
    <body>
        {% block main %}
        <main>
            <img class="background" src="{% static 'bg2.jpg' %}" alt="" />
            <div class="posts">

                <article class="post-wrapper">
                    {% if post.author.id == user_id %}
                    <div class="buttons-row">
                        <button class="edit-button"><a href="/editPost?id={{post.id}}">Editar</a></button>
                        <button class="delete-button"><a href="/api/deletePost?id={{post.id}}">Eliminar</a></button>
                    </div>
                    {% endif %}

                    <h2 class="title">{{post.title}}</h2>
                    {% if post.image %}
                        <div class="image-wrapper">
                            <img class="post-image" src="{{post.image.url}}" alt="">
                        </div>
                    {% endif %}
                    <p class="post-body">{{post.body}}</p>
                    <div class="post-footer">
                        <div class="post-author-row">Escrito por <span class="post-author">{{post.author}}</span></div>
                </article>

                <div class="comments-wrapper">
                    <h3>Comentarios:</h3>
                    {% for comment in comments %}
                    <div class="comment">
                        <div class="comment-first-row">
                            <p class="comment-author">{{comment.user.username}}</p>
                            {% if comment.user.id == user_id %}
                            <form action="/api/deleteComment/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{comment.id}}">
                                <input type="hidden" name="post_id" value="{{post.id}}">
                                <input class="delete-comment" type="submit" value="Eliminar">
                            </form>
                            {% endif %}
                        </div>
                        <p class="comment-body">{{comment.content}}</p>
                    </div>
                    {% endfor %}
                </div>

                <div class="new-comment-wrapper">
                    <p>Deja tu comentario:</p>
                    <form  action="/api/newComment/" method="POST">
                        {% csrf_token %} {{ new_comment_form }}
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <input type="hidden" name="user_id" value="{{user_id}}">
                        <input class="send-button" type="submit" value="Enviar">
                    </form>
 
                </div>
            </div>
        </main>
        {% endblock %}
    </body>
    </html>
