{% extends "main.html" %}

{%load static%}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
        {% block head %}
        <link rel="stylesheet" href="{% static 'styles/newPost.css' %}" />
        <title>Edición</title>
        {% endblock %}
    </head>
    <body>
        {% block main%}
        <div class="wrapper">
            <h1>Edita tu artículo</h1>
            <form class="form" action="/api/editPost/" method="post">
                {% csrf_token %} {{form}}
                <input class="post-button" type="submit" value="Guardar cambios"></input>
            </form>
        </div>
        {% endblock %}
    </body>
</html>
