{%load static%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/newPost.css' %}" />
        <title>New blog post</title>
    </head>
    <body>
        <div class="wrapper">
            <h1>Write a new blog entry</h1>
            <form class="form" action="/api/newPost/" method="post">
                {% csrf_token %} {{form}}
                <input class="post-button" type="submit" value="Publish"></input>
            </form>
        </div>
    </body>
</html>
