{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="app-title">Djablog</div>
                <ul>
                    {% comment %}
                    <li><a href="{% url '/' %}">Home</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% endcomment %}
                </ul>
            </nav>
        </header>
        <main>
            <img class="background" src="{% static 'bg2.jpg' %}" alt="" />
            <h1>Blog</h1>
            {% for post in posts %}
            <article>
                <h2>{{post.title}}</h2>
                <p>{{post.body}}</p>
            </article>
            {% endfor %}
        </main>
    </body>
</html>
