{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
        {% block head %} {% endblock %}
    </head>
    <header>
        <nav class="navbar">
            <a href="/">
                <div class="app-title">Djablog</div>
            </a>
            {% block search %} {% endblock %}
            <div class="profile-picture-wrapper">
                {% if user.profile_image %}
                    <img class="profile-picture" src="{{user.profile_image.url}}" alt="">
                {% else %}
                    <img class="profile-picture" src="{% static 'assets/default_profile_pic.png' %}" alt="">
                {% endif %}
            </div>
            <div class="popup-wrapper">
                <div class="popup-item"><a class"menu-item" href="{% url 'newPostView' %}">Escribe un nuevo artículo</a></div>
                <div class="popup-item" id="change-pic-button">Cambiar imagen de perfil</div>
                <div class="popup-item"><a class"menu-item" href="{% url 'profilePage' %}">Mi perfil</a></div>
                <div class="popup-item" id="logout-button"><a href="/api/logout">Salir</a></div>
            </div>
        </nav>
    </header>
    <body>
        {% block main %} {% endblock %}



        <div class="modal-wrapper">
            <div class="modal">
                <form class="profile-pic-form" action="api/update_pic/" method="post" enctype="multipart/form-data">{% csrf_token %}{{profile_pic_form}}
                    <button class="save-button" type="submit">Guardar</button>
                </form>               
                <button class="cancel-button" id="modal-cancel-button">Cancelar</button>
            </div>
        
        </div>
        <script src="{% static 'scripts/paragraphs.js'%}"></script>
        <script src="{% static 'scripts/navbar.js'%}"></script>
    </body>
    <footer class="footer">
        <div class="medium-row">
            {% comment %} <div class="column">
                <h3>Coderhouse</h3>
                <p>Item 1</p>
                <p>Item 2</p>
                <p>Item 3</p>
                <p>Item 4</p>
            </div> {% endcomment %}
            <div class="column">
                <h3>Links</h3>
                <p><a href="{% url 'Home' %}">Home</a></p>
                <p><a href="">Acerca de</a></p>
                <p><a href="{% url 'profilePage' %}">Perfil</a></p>
                <p><a href="{% url 'logoutQuery' %}">Logout</a></p>
            </div>
            <div class="column">
                <h3>Contacto</h3>
                <p>Ciudad de Buenos Aires, xxxx, AR</p>
                <p>info@example.com</p>
                <p>+54 9 1111-1111</p>
            </div>
        </div>
        <div class="small-row">
            <p>©2023 Nicolás Ciancaglini - Todos los derechos reservados</p>
            <p><span>Términos y condiciones</span>  |  <span>Privacidad</span></p>
        </div>

    </footer>
</html>
