.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

main {
    font-family: "Merriweather", serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem 2rem;
    text-align: center;
}

.navbar {
    color: white;
    font-size: 1.25rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    /* background: linear-gradient(90deg, hsl(288, 63%, 32%), hsl(340, 87%, 43%)); */
    background-color: hsla(0, 0%, 6%, 0.295);
    filter: drop-shadow(0 0 0.75rem hsla(0, 0%, 0%, 0.5));
    backdrop-filter: blur(5px);
    z-index: 1;
    font-weight: 500;
}

.profile-picture {
    background-color: hsl(0, 0%, 95%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    overflow: hidden;
}

.menu-item {
    cursor: pointer;
}

.popup-wrapper {
    visibility: hidden;
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 6%);
    font-size: 1.25rem;
    padding: 1rem;
    position: fixed;
    top: 80px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 0.75rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.popup-item {
    cursor: pointer;
}

.popup-item:hover {
    color: hsl(350, 100%, 60%);
}

.modal-wrapper {
    visibility: hidden;
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(5px);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.modal {
    background-color: hsl(0, 0%, 95%);
    padding: 2rem;
    border-radius: 10px;
    min-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal label {
    display: none;
}

.profile-pic-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.profile-pic-form input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 50%);
    font-size: 1.25rem;
}

.save-button {
    background-color: hsl(350, 100%, 60%);
    color: hsl(0, 0%, 95%);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: hsl(0, 0%, 75%);
    color: hsl(0, 0%, 6%);
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.posts {
    color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 2rem 0rem;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: hsl(0, 0%, 6%);
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 1rem;
    max-width: 1000px;
}

.buttons-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.edit-button,
.delete-button,
.send-button {
    font-family: "Raleway", sans-serif;
    background-color: hsl(350, 100%, 60%);
    color: hsl(0, 0%, 95%);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.title {
    font-size: 5rem;
    text-align: left;
}

.post-body {
    font-size: 1.5rem;
    text-align: left;
}

.post-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-author {
    color: hsl(350, 100%, 60%);
}

.new-comment-wrapper,
.comments-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: hsl(0, 0%, 6%);
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 1rem;
    max-width: 1000px;
}

.comment {
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0rem 0rem 1rem;
    border-bottom: 1px solid hsl(0, 0%, 50%);
}

.comment-author {
    color: hsl(350, 100%, 60%);
}

.new-comment-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
}

.new-comment-wrapper label {
    display: none;
}

.new-comment-wrapper textarea {
    text-align: start;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 50%);
    font-size: 1.25rem;
    height: 10rem;
}

.send-button {
    align-self: center;
}
