.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

main {
    font-family: "Merriweather", serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem 2rem;
    text-align: center;
}

.posts {
    color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 2rem 0rem;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    background-color: hsl(0, 0%, 6%);
    border-radius: 0.5rem;
    padding: 2rem;
    gap: 1rem;
    max-width: 1000px;
}

.title {
    font-size: 5rem;
    text-align: left;
}

.post-body {
    font-size: 1.5rem;
    text-align: left;
}

.post-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-author {
    color: hsl(350, 100%, 60%);
}
