.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding: 4rem 2rem;
    text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 2rem;
    background-color: hsla(0, 0%, 100%, 0.877);
    backdrop-filter: blur(10px);
    filter: drop-shadow(0 0 0.75rem hsla(0, 0%, 0%, 0.25));
}
