@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap");

/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}
body {
    overflow: hidden;
    font-family: "Raleway", sans-serif;
}

.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.form-wrapper {
    background-color: hsl(252, 100%, 99%);
    color: hsl(200, 5%, 12%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 40vh;
    width: 30vw;
    backdrop-filter: blur(10px);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.281));
    border-radius: 20px;
    padding: 2rem;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.error-message {
    color: hsl(0, 100%, 74%);
    padding-bottom: 0.25rem;
}

.hide {
    visibility: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

label {
    display: none;
}

input[type="text"],
input[type="password"] {
    background-color: hsl(252, 100%, 99%);
    color: hsl(200, 5%, 12%);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.068));
    width: 100%;
}

.is-invalid {
    border: 1px solid hsl(0, 100%, 74%);
    box-shadow: 0 0 5px hsl(0, 100%, 74%);
}

.button {
    background-color: hsl(209, 100%, 60%);
    color: hsl(200, 5%, 12%);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0.75rem 1.5rem;
    margin-top: auto;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.068));

}

.bottom-message {
    margin-top: 2rem;
}

.bottom-message a {
    color: hsl(209, 100%, 60%);
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
