main {
    height: 100vh;
    color: hsl(0, 0%, 95%);
    padding: 6rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.profile {
    background-color: hsl(0, 0%, 6%);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    border-radius: 10px;
    padding: 3rem;
    width: 100%;
    max-width: 80vw;
}

.profile a:has(h1) {
    font-size: 4rem;
    margin-bottom: 2rem;
    align-self: center;
    text-align: center;
}

.row,
.profile-pic-row,
.edit-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}

.profile-pic {
    width: 10rem;
    border-radius: 50%;
    cursor: pointer;
}

.label,
label {
    font-size: 1.5rem;
    color: hsl(0, 0%, 75%);
}

input[type="text"] {
    margin-bottom: 1rem;
    color: hsl(0, 0%, 6%);
    background-color: hsl(0, 0%, 95%);
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.button {
    font-size: 1rem;
    background-color: hsl(350, 100%, 60%);
    color: hsl(0, 0%, 95%);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    align-self: center;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: hsl(350, 100%, 55%);
}

.change-password-modal-wrapper {
    visibility: hidden;
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(5px);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-password-modal {
    color: hsl(0, 0%, 6%);
    background-color: hsl(0, 0%, 95%);
    padding: 2rem;
    border-radius: 10px;
    min-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.change-password-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}

.change-password-form label {
    color: hsl(0, 0%, 35%);
}

.change-password-form input[type="password"] {
    width: 100%;
    border: 1px solid hsl(0, 0%, 75%);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.change-password-form .change-button {
    background-color: hsl(0, 0%, 75%);
    color: hsl(0, 0%, 6%);
    cursor: not-allowed;
}

.change-password-form .change-password-cancel-button {
    background-color: hsl(0, 0%, 75%);
    color: hsl(0, 0%, 6%);
}

.change-password-form .change-password-cancel-button:hover {
    background-color: hsl(0, 0%, 70%);
}

.mismatch {
    visibility: hidden;
    color: hsl(0, 98%, 56%);
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    text-align: center;
    align-self: center;
}
